@import url('https//fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1{
    color: blue;
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: 30px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

#pokemon-cards {
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background-color: rgba(253, 253, 253, 0.90);
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    max-width:300px;
    width: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#title-section{
    text-decoration: underline;
    text-transform: capitalize;
    margin: 10px 20px;
}

.container{
    display:flex;
    padding: 0% 2%;
    justify-content:center;
    margin: 0 auto;
}

.card img{
    width: 100%;
}

body{
    font-family:'Montserrat', sans-serif;
    margin:0;
    padding:0;
    background:linear-gradient(135deg, #ff3b30, #ffd700);
    min-height: 100vh;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


#pokemon-cards, #pokemon-detail-view{
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.6s ease, max-high 0.6s ease;
}

#pokemon-cards.hidden, #pokemon-detail-view.hidden{
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

h1:hover{
    cursor:pointer;
}